VISHUS_BOT_APP_NAME=VISHU'S BOT
VISHUS_BOT_HOME=
VISHUS_BOT_CONFIG=config/app_config.json
VISHUS_BOT_DATA=
VISHUS_BOT_SUPABASE_URL=
VISHUS_BOT_SUPABASE_ANON_KEY=
VISHUS_BOT_COMMAND_TABLE=command_queue
